[module.hugoVersion]
extended = true
min = "0.87.0"

[params]
  mainSections = [ "posts" ]
  featuredImageField = "image"
  rssFullContent = true
  favicon = "/favicon.ico"

  [params.dateFormat]
  published = "2006-01-02"
  lastUpdated = "2006-01-02 15:04 MST"

  [params.sidebar]
  compact = false
  subtitle = "平淡的生活同样值得记录"
  avatar.enabled = true
  avatar.local = true
  avatar.src = "/img/avatar.jpg"

  [params.footer]
  since = 2025

  [params.article]
  headingAnchor = false
  math = false
  toc = true
  readingTime = true

  [params.widgets]
    [[widgets.homepage]]
    type = "search"
    type = "categories"
    type = "tag-cloud"
    type = "toc"

[params.opengraph.twitter]
card = "summary_large_image"

[params.defaultImage.opengraph]
enabled = false
local = false

  [params.colorScheme]
  toggle = true
  default = "auto"

[params.imageProcessing.cover]
enabled = true

[params.imageProcessing.content]
enabled = true